__pycache__/
*~
**/*pyc

**/__pycache__/
.vscode/

consolelog.txt
exec.cfg
prefixes.txt

main.py
!main_example.py

cmds/*
!cmds/add.py
!cmds/slay.py
!cmds/random.py
!cmds/say.py
!cmds/whokilled.py
!cmds/pmodmenu.py
!cmds/consearch.py
